@model FinalUI1.Models.ViewModels.OneForAll
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_big.cshtml";
}
<h3 style="margin-left:10px" class="mt-4 mb-4">At a Glance</h3>

@{Html.RenderPartial("_AtAGlance"); }
<h3 style="margin-left:10px" class="mt-4 mb-4">Community Noticeboard</h3>
@{
    Html.RenderPartial("_post");

}