
@{
    ViewBag.Title = "EmployeeDashboard";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h3 style="margin-left:10px" class="mt-4 mb-4">Community Noticeboard</h3>
@{
    Html.RenderPartial("_post");

}
